<div class="banner text-center">
    <h1>FEFARM API</h1>
    <h2>HELLO STALKER</h2>
    <h4>If you are looking for an API Key.<br /> Contact me.</h4>
    <h5>developed by<br />Francisco Escobar</h5>
    <a href="mailto:fraescruz@gmail.com" class="btn btn-primary">Contact</a>
    <div class="icon">
        <a href="https://www.facebook.com/francisco.escobarcruzrc" target="_blank" class="social-icon"><i class="fa fa-facebook-square fa-x"></i></a>
        <a href="https://github.com/jfescobar18" target="_blank" ><i class="fa fa-github-square fa-x"></i></a>
        <a href="https://www.linkedin.com/in/jos%C3%A9-francisco-escobar-cruz-043507166/" target="_blank" ><i class="fa fa-linkedin-square fa-x"></i></a>
    </div>
</div>